@charset "UTF-8";

body {
    background-color: #a2d9e87c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {color: #1F5A6B;
    background-image: linear-gradient(to right,#79b7c9, transparent);
}
h2{
    color: #5ECDEC;
}
p {
    text-align: justify;
}